.hero-slider-container {
  margin: 0 auto;
  padding: 60px 30px;
  background: white;
  overflow: hidden;
}

.slide-card {
  background: #cecdcd;
  border-radius: 16px;
  padding: 50px 40px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: all 0.4s ease-in-out;
  transform: scale(0.8);
  opacity: 0.6;
  position: relative;
  margin-top: 10px;
  margin-bottom : 10px;
  margin-left:-45px;
}

.slick-center .slide-card {
  transform: scale(1);
  opacity: 1;
  background-color: #ffb300;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  border: 1px solid #e0e0e0;
  z-index: 3;
}

.slide-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.slide-card h3 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 18px;
  color: #212121;
  line-height: 1.4;
}

.slide-card p {
  font-size: 17px;
  line-height: 1.6;
  color: #616161;
}

/* dots 커스텀 */
.slick-dots li button:before {
  color: #b0bec5;
  font-size: 12px;
}
.slick-dots li.slick-active button:before {
  color: #1976d2;
}

/* 반응형 */
@media (max-width: 1024px) {
  .slide-card {
    margin: 0 10px;
    padding: 40px 25px;
  }

  .slide-card h3 {
    font-size: 22px;
  }

  .slide-card p {
    font-size: 15px;
  }

  .slick-center .slide-card {
    transform: scale(1.02);
  }
}
